html,body{
    margin:0;padding:0
}

body{
    font: 30px arial,sans-serif;
}


.image {
	background-image: url('../assets/photo/photokasia.jpg');
	background-size: cover; 
	background-position: center; 
    width: 100%; 
    height: 700px;
    filter: brightness(70%);
}


 
.top-header > h1 { 
	color: white; 
	margin: 0;
	padding: 2em 1em; 
	font-family: sans-serif; 
    font-size: 70px;
} 

p{
    margin:50px 20px;
    padding-left: 80px;
}

a{
    padding:5px; text-decoration:none; color:#000000;
}

div#container{
    text-align:left
}

div#content p{
    line-height:1.4
}

div#navigation{
    background:#F6F0E0;
}

div#navigation ul{
    margin:15px 0; padding:0; list-style-type:none;
}

div#navigation li{
    margin-bottom:5px;
}

div#extra{
    background:#CCC8B3;
}

div#footer{
    background:#58585857;
}

div#footer p{
    font-size: 20px;
    margin:0;
    padding:5px 10px
}

div#container{
    width:100%;
    margin:0 auto
}

div#content{
    float:left;
    width:80%
}

div#navigation{
    float:right;
    width:200px
}

div#extra{
    float:right;
    clear:right;
    width:200px
}

div#footer{
    clear:both;
    width:100%
}

.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px;
    max-width: 1000px;
    margin: 0 auto;
    animation: fadeIn 3000ms ease-in-out forwards;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 42px;
}

.main-nav ul li a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}

.main-nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #fff;
    transition: all 1000ms ease;
}

.main-nav ul li a:hover::after {
    width: 100%;
}